.input-wrapper {
  padding: 10px;
  width: 26vw;
  display: flex;
}

.input-field {
  padding: 12px;
  width: 100%;
  font-size: 1.2em;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: rgba(224, 200, 200, 0.25);
  border: 2px solid #bd0707;
  box-sizing: border-box;
  border-radius: 5px;
}
